docker/n8n-workflows/ticket-acquisition-workflow.json
{
  "name": "MiraCulture Ticket Acquisition Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Check Every 30 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MC_API_URL || 'https://miracultureeapi-production-cca9.up.railway.app' }}/admin/issuing/webhook/pending-acquisitions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-pending",
      "name": "Get Pending Acquisitions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mc-api-auth",
          "name": "MiraCulture API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "has-acquisitions",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-pending",
      "name": "Any Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "fieldToSplitOut": "acquisitions",
        "options": {}
      },
      "id": "split-acquisitions",
      "name": "Split Each Acquisition",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, -60]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "has-card",
              "leftValue": "={{ $json.hasCard }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            },
            {
              "id": "has-url",
              "leftValue": "={{ $json.purchaseUrl }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ready-check",
      "name": "Has Card + URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, -60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MC_API_URL || 'https://miracultureeapi-production-cca9.up.railway.app' }}/admin/issuing/browser-purchase/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 120000
        }
      },
      "id": "browser-purchase",
      "name": "Run Browser Purchase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -120],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mc-api-auth",
          "name": "MiraCulture API Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "purchase-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "purchase-check",
      "name": "Purchase Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, -120]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg",
              "name": "message",
              "value": "=Ticket purchase SUCCEEDED for {{ $('Split Each Acquisition').item.json.eventTitle }} ({{ $('Split Each Acquisition').item.json.ticketCount }} tickets). Confirmation: {{ $json.result.confirmationRef }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "success-msg",
      "name": "Success Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, -180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg",
              "name": "message",
              "value": "=Ticket purchase FAILED for {{ $('Split Each Acquisition').item.json.eventTitle }}: {{ $json.result.error || 'Unknown error' }}. Manual purchase may be needed at: {{ $('Split Each Acquisition').item.json.purchaseUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "failure-msg",
      "name": "Failure Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, -60]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg",
              "name": "message",
              "value": "=Acquisition {{ $json.id }} for {{ $json.eventTitle }} needs a virtual card or purchase URL before automation can proceed.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "not-ready-msg",
      "name": "Not Ready Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 60]
    },
    {
      "parameters": {},
      "id": "no-pending",
      "name": "No Pending - Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 60]
    }
  ],
  "connections": {
    "Check Every 30 Min": {
      "main": [[{ "node": "Get Pending Acquisitions", "type": "main", "index": 0 }]]
    },
    "Get Pending Acquisitions": {
      "main": [[{ "node": "Any Pending?", "type": "main", "index": 0 }]]
    },
    "Any Pending?": {
      "main": [
        [{ "node": "Split Each Acquisition", "type": "main", "index": 0 }],
        [{ "node": "No Pending - Done", "type": "main", "index": 0 }]
      ]
    },
    "Split Each Acquisition": {
      "main": [[{ "node": "Has Card + URL?", "type": "main", "index": 0 }]]
    },
    "Has Card + URL?": {
      "main": [
        [{ "node": "Run Browser Purchase", "type": "main", "index": 0 }],
        [{ "node": "Not Ready Message", "type": "main", "index": 0 }]
      ]
    },
    "Run Browser Purchase": {
      "main": [[{ "node": "Purchase Success?", "type": "main", "index": 0 }]]
    },
    "Purchase Success?": {
      "main": [
        [{ "node": "Success Message", "type": "main", "index": 0 }],
        [{ "node": "Failure Message", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "MiraCulture" }, { "name": "Ticket Acquisition" }]
}
